@import "../../styles/contants.scss";

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3rem;
}
.availableFast {
  text-align: center;
  padding-top: 10px;

  img {
    padding: 1rem;
  }

  h1 {
    margin-top: 5rem;
    font-size: 35px;
  }
}

.availableFastText {
  font-size: 1.4rem;
  padding-top: 10px;
}

.howContent {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .howItem {
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    background: $main-block-bg-color;
    box-shadow: 0 0 20px $bg-main-color;
    overflow: hidden;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-white;

    img {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100px;
      height: 100px;
      bottom: 0px;
      right: -20px;
    }
  }
}
