.spline {
  .container {
    margin: 64px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 3rem;
      place-items: center;
    }
  }
}
