@import "../../styles/contants.scss";

.wrapper {
  background: var(--bg-color);

  overflow: hidden;
  .container {
    flex-direction: column;
    gap: 2rem;
    .heading {
      width: 100%;
      align-items: flex-end;
      flex-wrap: wrap;
      > :nth-child(2) {
        text-decoration: underline;
        color: orange;
        cursor: pointer;
      }
    }

    .showCase {
      width: 100%;
      display: grid;
      place-items: center;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 990px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 700px) {
        grid-template-columns: 1fr;
      }

      > img {
        border-radius: 20px;
        max-width: 25rem;
        max-height: 18rem;
        box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
        cursor: pointer;
      }
    }
  }

  .availableFast {
    text-align: center;
    padding-top: 10px;

    img {
      padding: 1rem;
    }

    h1 {
      margin-top: 5rem;
      font-size: 35px;
    }
  }

  .availableFastText {
    font-size: 1.4rem;
    padding-top: 10px;
  }

  .howContent {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .howItem {
      position: relative;
      border-radius: 1rem;
      padding: 1rem;
      background: $main-block-bg-color;
      box-shadow: 0 0 20px var(--bg-secondary-color);
      overflow: hidden;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100px;
        height: 100px;
        bottom: 0px;
        right: -20px;
      }
    }
  }
}
