@use "../../styles/contants.scss" as var;

.calculatorContainer {
  min-width: 1280px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 35px;
  margin: 5rem auto;
}

.calculatorBody {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  .discountBody {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .discountBtn {
      background: var.$main-block-bg-color;
      padding: 1rem;
      border-radius: 1rem;
      font-size: 24px;
      cursor: pointer;
    }

    .activeBtn {
      background: var.$telegram-border-color;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 60%;

    label {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    row-gap: 3rem;

    form {
      width: 80%;
    }
  }
}

.calculatorResult {
  padding: 1rem 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  p {
    text-align: center;
    font-size: 16px;
  }
}
