@import "../../styles/contants.scss";

.wrapper {
  background: $bg-main-color;

  overflow: hidden;
  .container {
    flex-direction: column;
    gap: 2rem;
    .heading {
      width: 100%;
      align-items: flex-end;
      flex-wrap: wrap;
      > :nth-child(2) {
        text-decoration: underline;
        color: orange;
        cursor: pointer;
      }
    }

    .showContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      figure {
        margin: 30px;
        border-radius: 20px;
        padding: 10px 30px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        &:hover {
          box-shadow: 0 4px 30px rgba(8, 182, 88, 0.37);
        }
        padding-bottom: 20px;

        figcaption {
          width: 100%;
          text-align: center;
          margin-top: 10px;
          b {
            font-size: 22px;
    
          }

          .price {
            margin-top: 10px;
            font-size: 20px;
          }
        }

        .mainCallBtn {
          @media (max-width: $sm) {
            position: relative;
          }
          

          &:active {
            background-image: linear-gradient(
              to right,
              #02b050c7 0%,
              #2b8d78 71%,
              #10c263 100%
            );
          }
          cursor: pointer;
          background: rgb(20,143,43);
          font-weight: 600;
          margin: 10px;
          padding: 20px 45px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;
          border-radius: 10px;
          display: block;
          margin-left: 25px;
          margin: auto;
          border: none;
          &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
            scale: 1.05;
          }
          margin-top: 10px;
        }
      }

      @media (max-width: 990px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 700px) {
        grid-template-columns: 1fr;
      }

      img {
        display: flex;
        margin: auto;
      }
    }
  }
}
